:root {
    --amplify-primary-color: #3e9943;
    --amplify-primary-tint: #a05346;
    --amplify-primary-shade: #e0573e;
  }

  .ProfileImage{
    font-size: 20px;
      align-items: center;
      background: white;
  }
 .but{
   background: white;
 }
 h4{
   color: aqua;
   /* background-color: black; */
 }